@model Fletero2022.Areas.Administracion.Models.OperadorModel

@{
    ViewBag.Title = "index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>index</h2>

<div>
    <h4>OperadorModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idOperador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idOperador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fletero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fletero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoPat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoPat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoMAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoMAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noCredencialElector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noCredencialElector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaVigenciaLicencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaVigenciaLicencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noLicencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noLicencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.padecimientos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.padecimientos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.curp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noIMSS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noIMSS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatusConfiabilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatusConfiabilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motivoRechazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivoRechazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacitadoChofer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacitadoChofer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaMotivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaMotivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fotografia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fotografia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.placas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.placas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoUnidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
