@model Fletero2022.Areas.Administracion.Models.FleteroModel


<table class="table table-striped" id="tblInformacionGeneral">
    <thead>
        <tr>
            <th></th>
            <th>Distrito</th>
            <th>Tienda</th>
            <th>Fletero</th>
            <th>Contacto principal</th>
            <th>Tel Celular</th>
            <th>Tel Oficina</th>
            <th>Tel Nextel</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Motivo</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.FleteroBusquedaFiltros == null)
        {


            foreach (var itemA in Model.TodosFleteros)
            {
                <tr>
                    <td> <input class="form-check-input" type="radio" id="flexRadioDisabled" name="grupoFleteros" value="@itemA.idFletero"></td>

                    <td>@itemA.DistrictName</td>
                    <td>@itemA.StoreName</td>
                    <td>@itemA.nombreFletero</td>
                    <td>@itemA.nombreCont</td>
                    <td>@itemA.telCelCont</td>
                    <td>@itemA.telOficinaCont</td>
                    <td>@itemA.telNextelCont</td>
                    <td>@itemA.correoPrincipal</td>
                    @if (itemA.tipoEstado == "Activo")
                    {
                        <td class="text-success">@itemA.tipoEstado</td>
                    }
                    else
                    {
                        <td class="text-danger">@itemA.tipoEstado</td>
                    }
                    <td>@itemA.tituloMotivo</td>
                </tr>
            }
        }
        else
        {
            foreach (var itemC in Model.FleteroBusquedaFiltros)
            {
            <tr>
                <td> <input class="form-check-input" type="radio" id="flexRadioDisabled" name="grupoFleteros" value="@itemC.idFletero"></td>

                <td>@itemC.DistrictName</td>
                <td>@itemC.StoreName</td>
                <td>@itemC.nombreFletero</td>
                <td>@itemC.nombreCont</td>
                <td>@itemC.telCelCont</td>
                <td>@itemC.telOficinaCont</td>
                <td>@itemC.telNextelCont</td>
                <td>@itemC.correoPrincipal</td>
                @if (itemC.tipoEstado == "Activo")
                {
                    <td class="text-success">@itemC.tipoEstado</td>
                }
                else
                {
                    <td class="text-danger">@itemC.tipoEstado</td>
                }
                <td>@itemC.tituloMotivo</td>
            </tr>
                    }
        }
    </tbody>
</table>


<table class="table table-striped" id="tblInformacionDetallada">
    <thead>
        <tr>
            <th></th>
            <th>Distrito</th>
            <th>Tienda</th>
            <th>Fletero</th>
            <th>RFC</th>
            <th>dirFCalle</th>
            <th>dirFNum</th>
            <th>dirFCol</th>
            <th>dirFEstado</th>
            <th>dirFMunicipio</th>
            <th>dirFCP</th>
            <th>Nombre representate</th>
            <th>Contacto principal</th>
            <th>Tel Celular</th>
            <th>Tel Oficina</th>
            <th>Tel Nextel</th>
            <th>Correo</th>
            <th>Fecha alta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemB in Model.FleterosDetalle)
        {
            <tr>
                <td> <input class="form-check-input" type="radio" id="flexRadioDisabled" name="grupoFleteros" value="@itemB.idFletero"></td>
                <td>@itemB.DistrictName</td>
                <td>@itemB.StoreName</td>
                <td>@itemB.nombreFletero</td>
                <td>@itemB.RFC</td>
                <td>@itemB.dirFCalle</td>
                <td>@itemB.dirFNum</td>
                <td>@itemB.dirFCol</td>
                <td>@itemB.dirFMunicipio_Estado</td>
                <td>@itemB.dirFMunicipio_Municipio</td>
                <td>@itemB.dirFCP</td>
                <td>@itemB.nombreRepresentante</td>
                <td>@itemB.nombreCont</td>
                <td>@itemB.telCelCont</td>
                <td>@itemB.telOficinaCont</td>
                <td>@itemB.telNextelCont</td>
                <td>@itemB.correoPrincipal</td>
                <td>@itemB.fechaAlta</td>
            </tr>
        }
    </tbody>
</table>
