@model Fletero2022.Areas.Administracion.Models.FleteroModel
@{
    ViewBag.Title = "Agregar fletero";
}

<h2>@ViewBag.Title</h2>
<br />
<div class="container">
    <div class="col-lg-6">
        
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="DistritoSelect">Distrito:</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" aria-label="Default select example" id="DistritoSelect">
                        <option value="0" selected>Seleccionar</option>
                        @foreach (var itemD in Model.Districts)
                        {
                            <option value="@itemD.IDDISTRICT">@itemD.DISTRICTNAME</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="TiendaSelect">Tienda:</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" aria-label="Default select example" id="TiendaSelect">
                        <option value="0" selected>Seleccionar</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="Fletero">Fletero(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="Fletero" class="form-control" type="text" onkeydown="ValidationFletero(this)" onkeyup="ValidationFletero(this)"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="RFC">RFC(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="RFC" class="form-control" type="text"  onkeydown="ValidationRFC(this)" onkeyup="ValidationRFC(this)"/>
                </div>
            </div>
            <br />

            <h4 class="text-info">Direccion Fiscal</h4>
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirFCalle">Calle(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="dirFCalle" class="form-control" type="text" onkeypress="return letras(event)" onkeydown="ValidationdirFCalle(this)" onkeyup="ValidationdirFCalle(this)"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirFNum">Número(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="dirFNum" class="form-control" type="text" onkeypress="return numeros(event)" onkeydown="ValidationdirFNum(this)" onkeyup="ValidationdirFNum(this)"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirFCol">Colonia(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="dirFCol" class="form-control" type="text" onkeydown="ValidationdirFCol(this)" onkeyup="ValidationdirFCol(this)"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="MunicipioFSelect">Municipio(*):</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" aria-label="Default select example" id="MunicipioFSelect">
                        <option value="0" selected>Seleccionar</option>
                        @foreach (var itemMF in Model.MunicipiosF)
                        {
                            <option value="@itemMF.ID_MUNICIPIO">@itemMF.NOMBRE</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="EstadoFSelect">Estado(*):</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" aria-label="Default select example" id="EstadoFSelect">
                        <option value="0" selected>Seleccionar</option>
                        @foreach (var itemEF in Model.EstadoF)
                        {
                            <option value="@itemEF.ID_ESTADO">@itemEF.NOMBRE</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirFCP">CP(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="dirFCP" class="form-control" type="text" onkeypress="return numeros(event)" onkeydown="ValidationdirFCP(this)" onkeyup="ValidationdirFCP(this)"/>
                </div>
            </div>
            <br />
            <h4 class="text-info">Direccion Base</h4>
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirBCalle">Calle(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="dirBCalle" class="form-control" type="text"  onkeypress="return letras(event)" onkeydown="ValidationdirBCalle(this)" onkeyup="ValidationdirBCalle(this)"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirBNum">Número(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="dirBNum" class="form-control" type="text" onkeypress="return numeros(event)" onkeydown="ValidationdirBNum(this)" onkeyup="ValidationdirBNum(this)"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirBCol">Colonia(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="dirBCol" class="form-control" type="text"  onkeydown="ValidationdirBCol(this)" onkeyup="ValidationdirBCol(this)"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="MunicipioBSelect">Municipio(*):</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" aria-label="Default select example" id="MunicipioBSelect">
                        <option value="0" selected>Seleccionar</option>
                        @foreach (var itemMB in Model.MunicipiosB)
                        {
                            <option value="@itemMB.ID_MUNICIPIO">@itemMB.NOMBRE</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="EstadoBSelect">Estado(*):</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" aria-label="Default select example" id="EstadoBSelect">
                        <option value="0" selected>Seleccionar</option>
                        @foreach (var itemEB in Model.EstadoB)
                        {
                            <option value="@itemEB.ID_ESTADO">@itemEB.NOMBRE</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirBCP">CP(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="dirBCP" class="form-control" type="text"  onkeypress="return numeros(event)" onkeydown="ValidationdirBCP(this)" onkeyup="ValidationdirBCP(this)"/>
                </div>
            </div>
            <br />

            <h4 class="text-info">Información adicional</h4>
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="NombreRepresentante">Nombre representate(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="NombreRepresentante" class="form-control" type="text" onkeypress="return letras(event)" onkeydown="ValidationRepresentante(this)" onkeyup="ValidationRepresentante(this)"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="contPrincipal">Contacto principal(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="contPrincipal" class="form-control" type="text" onkeypress="return letras(event)" onkeydown="ValidationCont(this)" onkeyup="ValidationCont(this)" />
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="telCel">Teléfono celular(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="telCel" class="form-control" type="text" onkeydown="ValidationTelCel(this)" onkeyup="ValidationTelCel(this)" />
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="telOfic">Teléfono de Oficina(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="telOfic" class="form-control" type="text" onkeydown="ValidationTelOfic(this)" onkeyup="ValidationTelOfic(this)" />
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="telNext">Teléfono Nextel(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="telNext" class="form-control" type="text" onkeydown="ValidationTelNex(this)" onkeyup="ValidationTelNex(this)" />
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="correo">Correo(*):</label>
                </div>
                <div class="col-sm-6">
                    <input required id="correo" class="form-control" type="email" maxlength="50" />
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="fechaAlta">Fecha alta(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="fechaAlta" class="form-control" type="datetime" value="@Convert.ToDateTime(DateTime.Now).ToString("dd-MM-yyyy")" readonly />
                </div>
            </div>
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="indicador">Indicador Certificación(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="indicador" class="form-control" type="text" readonly value="N/A" />
                </div>
            </div>

            <br />
            <br />

            <div class="col-lg-12">
                <input type="button" class="btn btn-success" style="margin-right:3px;" onclick="AgregarFletero()" value="Guardar" />
                <input type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalCenter" value="Cancelar" />
            </div>
        
    </div>

</div>
<!--

https://stackoverflow.com/questions/15738608/converting-dd-mm-yyyy-formatted-string-to-datetime
DateTime dt=DateTime.ParseExact("24/01/2013", "dd/MM/yyyy", CultureInfo.InvariantCulture); de string a date-->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Confirmar deshacer</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                La información se perderá. ¿Desea continuar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="jsBack()">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

            </div>
        </div>
    </div>
</div>

<script>


    document.addEventListener("DOMContentLoaded", function () {


    var selectDistricto = document.getElementById("DistritoSelect");

    selectDistricto.addEventListener("change", Refresh);
    Refresh(); /*Al inicio se refreshea*/

    function Refresh() {
        fetch("/Fletero/GetTiendasList?id=" + selectDistricto.value)
            .then(function (result) {
                if (result.ok)
                    return result.json();
            })
            .then(function (data) {
                console.log(data);
                let cbo = document.getElementById("TiendaSelect");
                cbo.innerHTML = "";
                data.forEach(function (element) {
                    let opt = document.createElement("option")
                    opt.appendChild(document.createTextNode(element.STORENAME));
                    opt.value = element.IDSTORE;
                    document.createElement("option");
                    cbo.appendChild(opt);
                })
            })

        }

    var selectFEstado = document.getElementById("EstadoFSelect");

    selectFEstado.addEventListener("change", RefreshMun);
    RefreshMun(); /*Al inicio se refreshea*/

    function RefreshMun() {
        fetch("/Fletero/GetMunicipiosList?id=" + selectFEstado.value)
            .then(function (result) {
                if (result.ok)
                    return result.json(); //Convertir el resultado en json
            })
            .then(function (data) {
                console.log(data);
                let cbo = document.getElementById("MunicipioFSelect");
                cbo.innerHTML = "";
                data.forEach(function (element) {
                    let opt = document.createElement("option")
                    opt.appendChild(document.createTextNode(element.NOMBRE));
                    opt.value = element.ID_MUNICIPIO;
                    document.createElement("option");
                    cbo.appendChild(opt);
                })
            })

        }

        var selectBEstado = document.getElementById("EstadoBSelect");

        selectBEstado.addEventListener("change", RefreshEB);
        RefreshEB(); /*Al inicio se refreshea*/

        function RefreshEB() {
            fetch("/Fletero/GetMunicipiosList?id=" + selectBEstado.value)
                .then(function (result) {
                    if (result.ok)
                        return result.json();
                })
                .then(function (data) {
                    console.log(data);
                    let cbo = document.getElementById("MunicipioBSelect");
                    cbo.innerHTML = "";
                    data.forEach(function (element) {
                        let opt = document.createElement("option")
                        opt.appendChild(document.createTextNode(element.NOMBRE));
                        opt.value = element.ID_MUNICIPIO;
                        document.createElement("option");
                        cbo.appendChild(opt);
                    })
                })

        }

    });

    function AgregarFletero() {
        var FleteroParam = new Object();

        FleteroParam.idDistritoDistTienda = document.getElementById("DistritoSelect").value;
        FleteroParam.idTiendaDistTienda = document.getElementById("TiendaSelect").value;
        FleteroParam.nombreFletero = document.getElementById("Fletero").value;
        FleteroParam.RFC = document.getElementById("RFC").value;
        FleteroParam.dirFCalle = document.getElementById("dirFCalle").value;
        FleteroParam.dirFNum = document.getElementById("dirFNum").value;
        FleteroParam.dirFCol = document.getElementById("dirFCol").value;
        FleteroParam.dirFMunicipio = document.getElementById("MunicipioFSelect").value;
        FleteroParam.dirFCP = document.getElementById("dirFCP").value;
        FleteroParam.dirBCalle = document.getElementById("dirBCalle").value;
        FleteroParam.dirBNum = document.getElementById("dirBNum").value;
        FleteroParam.dirBCol = document.getElementById("dirBCol").value;
        FleteroParam.dirBMunicipio = document.getElementById("MunicipioBSelect").value;
        FleteroParam.dirBCP = document.getElementById("dirBCP").value;
        FleteroParam.nombreRepresentante = document.getElementById("NombreRepresentante").value;
        FleteroParam.nombreCont = document.getElementById("contPrincipal").value;
        FleteroParam.telCelCont = document.getElementById("telCel").value;
        FleteroParam.telOficinaCont = document.getElementById("telOfic").value;
        FleteroParam.telNextelCont = document.getElementById("telNext").value;
        FleteroParam.correoPrincipal = document.getElementById("correo").value;
        FleteroParam.fechaAlta = document.getElementById("fechaAlta").value;
        FleteroParam.indicadorCertif = 0;
        FleteroParam.estado = 1;

        $.ajax({
            url: "/Administracion/Fletero/Agregar",
            type: "POST",
            data: FleteroParam,
            cache: false,
            datatype: "json",
            success: function (result) {
                 url = '@Url.Content("~/Administracion/Fletero/Index")';
                 document.location.href = url;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('error');
                console.log(xhr.status, thrownError);

            }
        });
    }

    function jsBack() {
        url = '@Url.Content("~/Administracion/Fletero/Index")';
        document.location.href = url;
    }
    function numeros() {
        var charCode = event.keyCode;

        if ((charCode > 47 && charCode < 58) || charCode == 8)

            return true;
        else
            return false;
    }
    function letras() {
        //propiedad keyCode devuelve el código de caracteres Unicode de la tecla que activa la onkeypress, keyCode 8 es el borrar
        var charCode = event.keyCode;

        if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode == 8 || charCode == 32)

            return true;
        else
            return false;
    }
    function ValidationFletero() {
        var input = document.getElementById("Fletero");

        if (input.value.length > 100) {
            input.value = input.value.substr(0, 100);
        }
    }
    function ValidationRFC() {
        var input = document.getElementById("RFC");

        if (input.value.length > 12) {
            input.value = input.value.substr(0, 12);
        }
    }
    function ValidationdirFCalle() {
        var input = document.getElementById("dirFCalle");

        if (input.value.length > 100) {
            input.value = input.value.substr(0, 100);
        }
    }
    function ValidationdirFNum() {
        var input = document.getElementById("dirFNum");

        if (input.value.length > 20) {
            input.value = input.value.substr(0, 20);
        }
    }
    function ValidationdirFCol() {
        var input = document.getElementById("dirFCol");

        if (input.value.length > 100) {
            input.value = input.value.substr(0, 100);
        }
    }
    function ValidationdirFCP() {
        var input = document.getElementById("dirFCP");

        if (input.value.length > 5) {
            input.value = input.value.substr(0, 5);
        }
    }
    function ValidationdirBCalle() {
        var input = document.getElementById("dirBCalle");

        if (input.value.length > 100) {
            input.value = input.value.substr(0, 100);
        }
    }
    function ValidationdirBNum() {
        var input = document.getElementById("dirBNum");

        if (input.value.length > 20) {
            input.value = input.value.substr(0, 20);
        }
    }
    function ValidationdirBCol() {
        var input = document.getElementById("dirBCol");

        if (input.value.length > 100) {
            input.value = input.value.substr(0, 100);
        }
    }
    function ValidationdirBCP() {
        var input = document.getElementById("dirBCP");

        if (input.value.length > 5) {
            input.value = input.value.substr(0, 5);
        }
    }
    function ValidationRepresentante() {
        var input = document.getElementById("NombreRepresentante");

        if (input.value.length > 50) {
            input.value = input.value.substr(0, 50);
        }
    }
    function ValidationCont() {
        var input = document.getElementById("contPrincipal");

        if (input.value.length > 50) {
            input.value = input.value.substr(0, 50);
        }
    }
    function ValidationTelCel() {
        var input = document.getElementById("telCel");

        if (input.value.length > 12) {
            input.value = input.value.substr(0, 12);
        }
    }
    function ValidationTelOfic() {
        var input = document.getElementById("telOfic");

        if (input.value.length > 20) {
            input.value = input.value.substr(0, 20);
        }
    }
    function ValidationTelNex() {
        var input = document.getElementById("telNext");

        if (input.value.length > 15) {
            input.value = input.value.substr(0, 15);
        }
    }

</script>