@model Fletero2022.Areas.Administracion.Models.FleteroModel

@{
    ViewBag.Title = "Editar fletero";
}

<h2>@ViewBag.Title</h2>
<br />
<div class="container">
    <div class="col-lg-6">
        <form>
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="DistritoSelect">Distrito:</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" aria-label="Default select example" id="DistritoSelect" disabled>
                        <option selected>@Model.FleteroModificar[0].DistrictName</option>
                        @foreach (var itemD in Model.Districts)
                        {
                            <option value="@itemD.IDDISTRICT">@itemD.DISTRICTNAME</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="TiendaSelect">Tienda:</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" aria-label="Default select example" id="TiendaSelect" disabled>
                        <option selected>@Model.FleteroModificar[0].StoreName</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="Fletero">Fletero(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="Fletero" class="form-control" type="text" readonly value="@Model.FleteroModificar[0].nombreFletero"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="RFC">RFC(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="RFC" class="form-control" type="text" readonly value="@Model.FleteroModificar[0].RFC"/>
                </div>
            </div>
            <br />

            <h4 class="text-info">Direccion Fiscal</h4>
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirFCalle">Calle(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="dirFCalle" class="form-control" type="text" value="@Model.FleteroModificar[0].dirFCalle"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirFNum">Número(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="dirFNum" class="form-control" type="text" value="@Model.FleteroModificar[0].dirFNum"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirFCol">Colonia(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="dirFCol" class="form-control" type="text" value="@Model.FleteroModificar[0].dirFCol" />
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="MunicipioFSelect">Municipio(*):</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" aria-label="Default select example" id="MunicipioFSelect">
                        <option value="@Model.FleteroModificar[0].dirFMunicipio"selected>@Model.FleteroModificar[0].dirFMunicipio_Municipio</option>
                        @foreach (var itemMF in Model.MunicipiosF)
                        {
                            <option value="@itemMF.ID_MUNICIPIO">@itemMF.NOMBRE</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="EstadoFSelect">Estado(*):</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" aria-label="Default select example" id="EstadoFSelect">
                        <option selected>@Model.FleteroModificar[0].dirFMunicipio_Estado</option>
                        @foreach (var itemEF in Model.EstadoF)
                        {
                            <option value="@itemEF.ID_ESTADO">@itemEF.NOMBRE</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirFCP">CP(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="dirFCP" class="form-control" type="text" value="@Model.FleteroModificar[0].dirFCP"/>
                </div>
            </div>
            <br />
            <h4 class="text-info">Direccion Base</h4>
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirBCalle">Calle(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="dirBCalle" class="form-control" type="text" value="@Model.FleteroModificar[0].dirBCalle"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirBNum">Número(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="dirBNum" class="form-control" type="text" value="@Model.FleteroModificar[0].dirBNum" />
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirBCol">Colonia(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="dirBCol" class="form-control" type="text"value="@Model.FleteroModificar[0].dirBCol" />
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="MunicipioBSelect">Municipio(*):</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" aria-label="Default select example" id="MunicipioBSelect">
                        <option value="@Model.FleteroModificar[0].dirBMunicipio" selected>@Model.FleteroModificar[0].dirBMunicipio_Municipio</option>
                        @foreach (var itemMB in Model.MunicipiosB)
                        {
                            <option value="@itemMB.ID_MUNICIPIO">@itemMB.NOMBRE</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="EstadoBSelect">Estado(*):</label>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" aria-label="Default select example" id="EstadoBSelect">
                        <option selected>@Model.FleteroModificar[0].dirBMunicipio_Estado</option>
                        @foreach (var itemEB in Model.EstadoB)
                        {
                            <option value="@itemEB.ID_ESTADO">@itemEB.NOMBRE</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-2 ">
                    <label class="control-label" for="dirBCP">CP(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="dirBCP" class="form-control" type="text" value="@Model.FleteroModificar[0].dirBCP"/>
                </div>
            </div>
            <br />

            <h4 class="text-info">Información adicional</h4>
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="NombreRepresentante">Nombre representate(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="NombreRepresentante" class="form-control" type="text" value="@Model.FleteroModificar[0].nombreRepresentante" />
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="contPrincipal">Contacto principal(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="contPrincipal" class="form-control" type="text" value="@Model.FleteroModificar[0].nombreCont"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="telCel">Teléfono celular(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="telCel" class="form-control" type="text" value="@Model.FleteroModificar[0].telCelCont"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="telOfic">Teléfono de Oficina(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="telOfic" class="form-control" type="text" value="@Model.FleteroModificar[0].telOficinaCont"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="telNext">Teléfono Nextel(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="telNext" class="form-control" type="text" value="@Model.FleteroModificar[0].telNextelCont"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="correo">Correo(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="correo" class="form-control" type="text" value="@Model.FleteroModificar[0].correoPrincipal"/>
                </div>
            </div>
            <br />
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="fechaAlta">Fecha alta(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="fechaAlta" class="form-control" type="datetime" value="@Convert.ToDateTime(Model.FleteroModificar[0].fechaAlta).ToString("dd-MM-yyyy")" readonly />
                </div>
            </div>
            <div class="" style="display: flex; align-items:center">
                <div class="col-sm-3 ">
                    <label class="control-label" for="indicador">Indicador Certificación(*):</label>
                </div>
                <div class="col-sm-6">
                    <input id="indicador" class="form-control" type="text" readonly value="N/A" />
                </div>
            </div>

            <br />
            <br />

            <div class="col-lg-12">
                <input type="submit" class="btn btn-success" style="margin-right:3px;" onclick="EditarFletero()" value="Guardar" />
                <input type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalCenter" value="Cancelar" />
            </div>
        </form>
    </div>

</div>

<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Confirmar deshacer</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                La información se perderá. ¿Desea continuar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="jsBack()">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var selectDistricto = document.getElementById("DistritoSelect");

        selectDistricto.addEventListener("change", Refresh);

        function Refresh() {
            fetch("/Fletero/GetTiendasList?id=" + selectDistricto.value)
                .then(function (result) {
                    if (result.ok)
                        return result.json();
                })
                .then(function (data) {
                    console.log(data);
                    let cbo = document.getElementById("TiendaSelect");
                    cbo.innerHTML = "";
                    data.forEach(function (element) {
                        let opt = document.createElement("option")
                        opt.appendChild(document.createTextNode(element.STORENAME));
                        opt.value = element.IDSTORE;
                        document.createElement("option");
                        cbo.appendChild(opt);
                    })
                })

        }

        var selectFEstado = document.getElementById("EstadoFSelect");

        selectFEstado.addEventListener("change", RefreshMun);

        function RefreshMun() {
            fetch("/Fletero/GetMunicipiosList?id=" + selectFEstado.value)
                .then(function (result) {
                    if (result.ok)
                        return result.json(); //Convertir el resultado en json
                })
                .then(function (data) {
                    console.log(data);
                    let cbo = document.getElementById("MunicipioFSelect");
                    cbo.innerHTML = "";
                    data.forEach(function (element) {
                        let opt = document.createElement("option")
                        opt.appendChild(document.createTextNode(element.NOMBRE));
                        opt.value = element.ID_MUNICIPIO;
                        document.createElement("option");
                        cbo.appendChild(opt);
                    })
                })

        }

        var selectBEstado = document.getElementById("EstadoBSelect");

        selectBEstado.addEventListener("change", RefreshEB);

        function RefreshEB() {
            fetch("/Fletero/GetMunicipiosList?id=" + selectBEstado.value)
                .then(function (result) {
                    if (result.ok)
                        return result.json();
                })
                .then(function (data) {
                    console.log(data);
                    let cbo = document.getElementById("MunicipioBSelect");
                    cbo.innerHTML = "";
                    data.forEach(function (element) {
                        let opt = document.createElement("option")
                        opt.appendChild(document.createTextNode(element.NOMBRE));
                        opt.value = element.ID_MUNICIPIO;
                        document.createElement("option");
                        cbo.appendChild(opt);
                    })
                })

        }
    });
    function jsBack() {
        url = '@Url.Content("~/Administracion/Fletero/Index")';
        document.location.href = url;
    }
    function EditarFletero() {
        var FleteroParam = new Object();

        FleteroParam.idFletero = @Model.FleteroModificar[0].idFletero;
        FleteroParam.dirFCalle = document.getElementById("dirFCalle").value;
        FleteroParam.dirFNum = document.getElementById("dirFNum").value;
        FleteroParam.dirFCol = document.getElementById("dirFCol").value;
        FleteroParam.dirFMunicipio = document.getElementById("MunicipioFSelect").value;
        FleteroParam.dirFCP = document.getElementById("dirFCP").value;
        FleteroParam.dirBCalle = document.getElementById("dirBCalle").value;
        FleteroParam.dirBNum = document.getElementById("dirBNum").value;
        FleteroParam.dirBCol = document.getElementById("dirBCol").value;
        FleteroParam.dirBMunicipio = document.getElementById("MunicipioBSelect").value;
        FleteroParam.dirBCP = document.getElementById("dirBCP").value;
        FleteroParam.nombreRepresentante = document.getElementById("NombreRepresentante").value;
        FleteroParam.nombreCont = document.getElementById("contPrincipal").value;
        FleteroParam.telCelCont = document.getElementById("telCel").value;
        FleteroParam.telOficinaCont = document.getElementById("telOfic").value;
        FleteroParam.telNextelCont = document.getElementById("telNext").value;
        FleteroParam.correoPrincipal = document.getElementById("correo").value;

        $.ajax({
            url: "/Administracion/Fletero/Editar",
            type: "POST",
            data: FleteroParam,
            cache: false,
            datatype: "json",
            success: function (result) {
                debugger
                 url = '@Url.Content("~/Administracion/Fletero/Index")';
                 document.location.href = url;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('error');
                console.log(xhr.status, thrownError);

            }
        });
    }
</script>
