
@{
    ViewBag.Title = "Fletero Consulta";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    <form>
        <div class="row col-1g-12">
            <div class="col-md-3">
                <p>Distrito:</p>
                <select class="form-control" aria-label="Default select example" id="DistritoSelect">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <br />
            </div>

            <div class="col-md-3">
                <p class="mt-1">Tienda:</p>
                <select class="form-control" aria-label="Default select example" id="TiendaSelect">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <br />
            </div>

            <div class="col-md-3">
                <p class="mt-1">Fletero:</p>
                <select class="form-control" aria-label="Default select example" id="FleteroSelect">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <br />
            </div>
        </div>
        <div class="row col-1g-12">
            <div class="col-md-3">

                <p>Estatus:</p>
                <select class="form-control" aria-label="Default select example" id="EstatusSelect">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <br />
                <input type="submit" class="btn btn-primary" onclick="document.location.href = '@Url.Content("~/User/Add")'" value="Buscar" />
                <input type="button" class="btn btn-primary" onclick="jsClearSorting()" value="Limpiar filtros" />
            </div>
        </div>
    </form>
    <br />
    <div class="row">
        <div class="col-1g-12">
            <table class="table" style="margin: 0px;">
                <thead style="background-color: lightgrey">
                    <tr>
                        <th>
                            <button type="button" class="btn btn-default" id="BtnInformacionGeneral" onclick="jsInfoGeneral()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text-fill" viewBox="0 0 16 16" style="vertical-align:middle;">
                                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1z" />
                                </svg>
                                Informacion general
                            </button>
                            <button type="button" class="btn btn-default" id="BtnInformacionDetallada" onclick="jsInfoDetallada()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text-fill" viewBox="0 0 16 16" style="vertical-align:middle;">
                                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1z" />
                                </svg>
                                Informacion detallada
                            </button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-default" id="BtnAgregar" onclick="jsAddFletero()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16" style="vertical-align:middle;">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                                Agregar
                            </button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-default" onclick="jsVerDetalle()" id="BtnDetalle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16" style="vertical-align:middle;">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>
                                Ver detalle
                            </button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ModalDisable" id="BtnDeshabilitar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x-fill" viewBox="0 0 16 16" style="vertical-align:middle;">
                                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146 8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708z" />
                                </svg>
                                Deshabilitar
                            </button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ModalEnable" id="BtnHabilitar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-check-fill" viewBox="0 0 16 16" style="vertical-align:middle;">
                                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1.146 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                                </svg>
                                Habilitar
                            </button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-default" id="BtnUnidadesCarga">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16" style="vertical-align:middle;">
                                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                </svg>
                                Unidades de carga
                            </button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-default" id="BtnOperadoresUnidad">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="vertical-align:middle;">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                                Operadores de unidad
                            </button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-default" id="BtnContratos">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16" style="vertical-align:middle;">
                                    <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
                                    <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
                                </svg>
                                Contratos
                            </button>
                        </th>
                    </tr>
                </thead>
            </table>

            <table class="table table-striped" id="tblInformacionGeneral">
                <thead>
                    <tr>
                        <th></th>
                        <th>Distrito</th>
                        <th>Tienda</th>
                        <th>Fletero</th>
                        <th>Contacto principal</th>
                        <th>Tel Celular</th>
                        <th>Tel Oficina</th>
                        <th>Tel Nextel</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <input class="form-check-input" type="radio" id="flexRadioDisabled" name="grupoFleteros"></td>
                        <td>Distrito</td>
                        <td>Tienda</td>
                        <td>Fletero</td>
                        <td>Contacto principal</td>
                        <td>Tel Celular</td>
                        <td>Tel Oficina</td>
                        <td>Tel Nextel</td>
                    </tr>
                    <tr>
                        <td> <input class="form-check-input" type="radio" id="flexRadioDisabled" name="grupoFleteros"></td>
                        <td>Distrito</td>
                        <td>Tienda</td>
                        <td>Fletero</td>
                        <td>Contacto principal</td>
                        <td>Tel Celular</td>
                        <td>Tel Oficina</td>
                        <td>Tel Nextel</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped" id="tblInformacionDetallada">
                <thead>
                    <tr>
                        <th></th>
                        <th>Distrito detallado</th>
                        <th>Tienda detallado</th>
                        <th>Fletero detallado</th>
                        <th>Contacto principal detallado</th>
                        <th>Tel Celular detallado</th>
                        <th>Tel Oficina detallado</th>
                        <th>Tel Nextel detallado </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <input class="form-check-input" type="radio" id="flexRadioDisabled" name="grupoFleteros"></td>
                        <td>Distrito</td>
                        <td>Tienda</td>
                        <td>Fletero</td>
                        <td>Contacto principal</td>
                        <td>Tel Celular</td>
                        <td>Tel Oficina</td>
                        <td>Tel Nextel</td>
                    </tr>
                    <tr>
                        <td> <input class="form-check-input" type="radio" id="flexRadioDisabled" name="grupoFleteros"></td>
                        <td>Distrito</td>
                        <td>Tienda</td>
                        <td>Fletero</td>
                        <td>Contacto principal</td>
                        <td>Tel Celular</td>
                        <td>Tel Oficina</td>
                        <td>Tel Nextel</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalDisable" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Motivo deshabilitar</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <label class="control-label" for="fechaMotivo">Fecha:</label>
                <input id="fechaAlta" class="form-control" type="datetime" value="@Convert.ToDateTime(DateTime.Now).ToString("dd-MM-yyyy")" readonly />
                <label class="control-label" for="tituloMotivoSelect">Motivo:</label>
                <select class="form-control" aria-label="Default select example" id="tituloMotivoSelect">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label class="control-label" for="TextareaDescripcion">Descripcion:</label>
                <textarea class="form-control" id="TextareaDescripcion" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="jsDeshabilitarF()">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalEnable" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Motivo habilitar</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <label class="control-label" for="fechaMotivo">Fecha:</label>
                <input id="fechaAlta" class="form-control" type="datetime" value="@Convert.ToDateTime(DateTime.Now).ToString("dd-MM-yyyy")" readonly />
                <label class="control-label" for="tituloMotivoSelect">Motivo:</label>
                <select class="form-control" aria-label="Default select example" id="tituloMotivoSelect">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label class="control-label" for="TextareaDescripcion">Descripcion:</label>
                <textarea class="form-control" id="TextareaDescripcion" rows="3"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="jsHabilitarF()">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        var btnAgregar = document.getElementById("BtnAgregar");
        var btnDetalle = document.getElementById("BtnDetalle");
        var btnDeshabilitar = document.getElementById("BtnDeshabilitar");
        var btnHabilitar = document.getElementById("BtnHabilitar");
        var btnUnidadesCarga = document.getElementById("BtnUnidadesCarga");
        var btnOperadoresUnidad = document.getElementById("BtnOperadoresUnidad");
        var btnContratos = document.getElementById("BtnContratos");
        var BtnInformacionGeneral = document.getElementById("BtnInformacionGeneral");
        var tblInformacionDetallada = document.getElementById("tblInformacionDetallada");

        btnAgregar.disabled = false;
        btnDetalle.disabled = true;
        btnDeshabilitar.disabled = true;
        btnHabilitar.disabled = true;
        btnUnidadesCarga.disabled = true;
        btnOperadoresUnidad.disabled = true;
        btnContratos.disabled = true;
        tblInformacionDetallada.style.display = "none";
        BtnInformacionGeneral.style.display = "none";


        var radioButtonGroup = document.getElementsByName("grupoFleteros");

        for (let i = 0; i < radioButtonGroup.length; i++) {
            radioButtonGroup[i].addEventListener('change', function () {
                btnDeshabilitar.disabled = false;
                btnHabilitar.disabled = false;
                btnUnidadesCarga.disabled = false;
                btnOperadoresUnidad.disabled = false;
                btnContratos.disabled = false;
                btnAgregar.disabled = true;
                btnDetalle.disabled = false;
            });
        }
        
    });

    function jsClearSorting() {
        var distritoSelect = document.getElementById("DistritoSelect");
        var tiendaSelect = document.getElementById("TiendaSelect");
        var fleteroSelect = document.getElementById("FleteroSelect");
        var estatusSelect = document.getElementById("EstatusSelect");

        distritoSelect.selectedIndex = 0;
        tiendaSelect.selectedIndex = 0;
        fleteroSelect.selectedIndex = 0;
        estatusSelect.selectedIndex = 0;
    }

    function jsAddFletero() {
        url = '@Url.Content("~/Administracion/Fletero/Agregar")';
        document.location.href = url;
    }
    function jsVerDetalle() {
        url = '@Url.Content("~/Administracion/Fletero/Editar")';
        document.location.href = url;
    }

    function jsDeshabilitarF() {
        alert(' se deshabilitará');
    }
    function jsHabilitarF() {
        alert(' se habilitará');
    }
    function jsInfoDetallada() {
        var tblInformacionGeneral = document.getElementById("tblInformacionGeneral");
        var tblInformacionDetallada = document.getElementById("tblInformacionDetallada");
        var BtnInformacionGeneral = document.getElementById("BtnInformacionGeneral");
        var BtnInformacionDetallada = document.getElementById("BtnInformacionDetallada");

        BtnInformacionDetallada.style.display = "none";
        BtnInformacionGeneral.style.display = "table";
        tblInformacionGeneral.style.display = "none";
        tblInformacionDetallada.style.display = "table";
    }
    function jsInfoGeneral() {
        var tblInformacionGeneral = document.getElementById("tblInformacionGeneral");
        var tblInformacionDetallada = document.getElementById("tblInformacionDetallada");
        var BtnInformacionGeneral = document.getElementById("BtnInformacionGeneral");

        BtnInformacionGeneral.style.display = "none";
        BtnInformacionDetallada.style.display = "table";
        tblInformacionGeneral.style.display = "table";
        tblInformacionDetallada.style.display = "none";
    }
</script>